@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply text-uwhite font-Actay;
  }
}

@layer components{
  .nav-hov{
    @apply hover:ring-2 py-2 px-4 ring-white rounded-3xl;
  }
}

@font-face {
    font-family: "Actay";
    src: url("/public/assets/fonts/ActayWide-Bold.otf");
}

.scroller::-webkit-scrollbar{
  width: 1px;
  height: 1px;
}

@layer utilities {
  .animate-delay-2s{
    animation-delay: 2s;
  }
}